h1{
    font-size: 4rem;
    font-weight: bold;
}

body{
    display: grid;
    justify-content: center;
}

#board{
    display: grid;
    grid-template-rows: repeat(3, minmax(70px, min-content));
    grid-template-columns: repeat(3, minmax(70px, min-content));
}

.cell{
    padding: 8px;
    height: 125px;
    width: 125px;
    font-size: 2rem;
    font-weight: bold;
}

#gameInfo{
    display: grid;
    grid-template-rows: repeat(1, min-content);
    grid-template-columns: repeat(2, min-content);
    justify-content: space-between;
}

.player{
    font-size: 1.2rem;
}